// ===================================== \
// Variables
// ===================================== /

// $orange: #f27935;
// $green:  #5E8C6A;
// $brown:  #6D5548;
// $violet: #524059;
$grey:   #E7E7E7;
$midGrey:  #999;
// $blue:   #385668;
// $purple: #6A3A72;
// $teal:   #009989;
// $red:    #8C2318;
// $yellow: #F2C45A;
// $avo:    #88A65E;
$dark:   #413E4A;
$mid:    #73626E;
$mid:    #333;
$light:  #B38184;