// ===================================== \
// Variables
// ===================================== /

$orange: #f27935;
$green:  #41503E;
$brown:  #6D5548;
$violet: #524059;
$grey:   #E7E7E7;
$blue:   #385668;
$purple: #6A3A72;